{% extends "account/account_base.html" %}
{% load allauth i18n %}
{% block content %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-image"><img src="https://images.unsplash.com/photo-1453227588063-bb302b62f50b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="cute dog" height="auto" width="100%"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                
                                {% block content1 %}
                                    {% element h1 %}
                                        {% trans "Sign Out..." %}
                                    {% endelement %}
                                    <div class="mt-1">
                                        <h1 class="h4 text-gray-900 mb-4">We are sorry to see you leave!</h1>
                                    </div>
                                    <p class="mt-3 mb-3">{% trans 'Are you sure you want to sign out?' %}</p>
                                    {% url 'account_logout' as action_url %}
                                    {% element form method="post" action=action_url no_visible_fields=True %}
                                        {% slot body %}
                                            {% csrf_token %}
                                            {% if redirect_field_value %}
                                                <input type="hidden"
                                                    name="{{ redirect_field_name }}"
                                                    value="{{ redirect_field_value }}" />
                                            {% endif %}
                                        {% endslot %}
                                        {% slot actions %}
                                            <div class="d-grid">
                                                <button class="btn btn-danger radius-15" aria-label="sign out" type="submit">Sign Out</button>
                                                <a class="btn btn-outline-primary radius-15 ml-4" aria-label="stay signed in" href="{% url 'home' %}">Stay signed in</a>
                                            </div>
                                        {% endslot %}
                                    {% endelement %}
                                {% endblock content1 %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
