{% extends "base.html" %} {% block content %}
<div class="container-fluid px-4 mt-4">
    <div class="card-group">
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="Dashboard" href="{% url 'referrals_analysis' %}">Dashboard</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-primary" aria-label="Create Referral" href="{% url 'create_referrals' %}">Create Referral</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="My Referrals" href="{% url 'referrals_list' %}">My Referrals</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="Archived Referrals" href="{% url 'referrals_archive_list' %}">Archived Referrals</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <!-- Account details card-->
            <div class="card mb-4 negative-margin-sides xl-m-8">
                <div class="card-header"><h1>Log Referral Introductions...</h1>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="form-group">

                                <!-- Security token -->
                                {% csrf_token %}

                                <!-- Using the formset -->
                                {{ form.as_p }}

                                <div class="d-grid mt-3">
                                    <button class="btn btn-primary radius-15 m-4" aria-label="Submit Referral" type="submit">Submit Referral</button>
                                    <a class="btn btn-outline-primary radius-15 m-4" href="{% url 'home' %}">Return to home</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
