{% extends "base.html" %} {% block content %}{% load static %}

<div class="container-fluid px-4 mt-4">
    <div class="card-group">
        {% if not referrals_detail.is_completed %}
        <div class="card m-3 bg-none">
            <a class="btn btn-outline-warning radius-15 m-4" href="{% url 'referrals_cancel' slug=referrals_detail.slug %}">Cancel Agreement</a>
        </div>
        {% endif %}
        {% if referrals_detail.is_agreed %}
        <div class="card m-3 bg-none text-center">
            <i class="fa-solid fa-thumbs-up text-success m-2 mt-4"> Contract Agreed</i>
        </div>
        {% elif not referrals_detail.is_agreed and not referrals_detail.is_completed %}
        <div class="card m-3 bg-none">
            <a class="btn btn-outline-success radius-15 m-4" href="{% url 'referrals_confirm_agreement' slug=referrals_detail.slug %}">Confirm Agreement</a>
        </div>
        {% endif %}
        {% if referrals_detail.is_completed %}
        <div class="card m-3 bg-none text-center">
            <i class="fa-solid fa-handshake-angle text-success m-2 mt-4"> Contract Complete</i>
        </div>
        {% else %}
        <div class="card m-3 bg-none">
            <a class="btn btn-outline-primary radius-15 m-4" href="{% url 'referrals_agreement_completed' slug=referrals_detail.slug %}">Complete Agreement</a>
        </div>
        {% endif %}
        <div class="card m-3 bg-none">
            <a class="btn btn-outline-primary radius-15 m-4" href="{% url 'referrals_archive' slug=referrals_detail.slug %}">Archive meeting</a>
        </div>
    </div>
  <h1 class="text-center">Edit Referral Logs...</h1>
  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card negative-margin-sides mb-4 mb-xl-0">
        <div class="card-header">Referral Details</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
        {% if user.userprofile.username == referrals_detail.sender.username %}
        <div>
            <img src="{% if 'placeholder' in referrals_detail.referral_receiver_id.user_profile_img.url %}{% static 'img/undraw_profile.svg' %}{% else %}{{ referrals_detail.referral_receiver_id.user_profile_img.url }}{% endif %}"
                alt="user avatar" class="img-profile rounded-circle mr-4" width="150">
            <div class="small font-italic text-muted mt-4 mb-4">
                Your referral agreement is with...
            </div>
            <span class="mr-3 text-truncate">{{ referrals_detail.referral_receiver_id.user.first_name }} {{ referrals_detail.referral_receiver_id.user.last_name }}</span>
            <span class="text-truncate">Commission generated for you:</span>
            <span class="text-truncate mr-3">£ {{ referrals_detail.estimated_commsion }}</span>
        </div>
        {% else %}
        <div>
            <img src="{% if 'placeholder' in referrals_detail.referral_sender_id.user_profile_img.url %}{% static 'img/undraw_profile.svg' %}{% else %}{{ referrals_detail.referral_sender_id.user_profile_img.url }}{% endif %}"
                alt="user avatar" class="img-profile rounded-circle mr-4" width="150">
            <div class="small font-italic text-muted mt-4 mb-4">
                Your referral agreement is with...
            </div>
            <span class="mr-3 text-truncate">{{ referrals_detail.referral_sender_id.user.first_name }} {{ referrals_detail.referral_sender_id.user.last_name }} saying they are sender</span>
            <span class="text-truncate">Revenue generated for your Business is:</span>
            <span class="text-truncate mr-3">£ {{ referrals_detail.proposed_amount }}</span>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card negative-margin-sides mb-4">
        <div class="card-header">Edit Referral Details</div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <!-- Save changes button-->
            <button class="btn btn-primary" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
