{% extends "base.html" %} {% block content %} {% load static %}

<div class="container-fluid px-4 mt-4">
    <div class="card-group">
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="Dashboard" href="{% url 'referrals_analysis' %}">Dashboard</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="Create Referral" href="{% url 'create_referrals' %}">Create Referral</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="My Referrals" href="{% url 'referrals_list' %}">My Referrals</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-primary" aria-label="Archived Referrals" href="{% url 'referrals_archive_list' %}">Archived Referrals</a>
        </div>
    </div>
  <div class="row">
    <div class="col-xl">
      <!-- Booking List accordian card-->
      <div class="card mb-4 negative-margin-sides xl-m-8">
        <div class="card-header col">
            <div class="row mt-2">
                <h1 class="col-sm text-center text-primary"> Archived </h1>
            </div>
        </div>
        <div class="card-body">
            {% if user.userprofile.username == referrals_list.referral_sender_id.username or referrals_list.referral_receiver_id.username %}
            <!-- add buttons to search network or quick add referral -->
            <div class="accordion" id="accordion">
                {% for referral in referrals_list %}
                <div class="card text-decoration-none mb-4">
                    <div class="card-header text-decoration-none{% if referral.is_agreed == True %} bg-light-green{% elif referral.is_cancelled == True %} bg-light-red{% endif %}" 
                    id="heading{{ referral.slug }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link d-inline btn-block text-left text-decoration-none col-9" type="button"
                                data-toggle="collapse" data-target="#collapse{{ referral.slug }}" aria-expanded="true"
                                aria-controls="collapse{{ referral.slug }}">
                                {% if user.userprofile == referral.referral_sender_id %}
                                    <img src="{% if 'placeholder' in referral.referral_receiver_id.user_profile_img.url %}{% static 'img/undraw_profile.svg' %}{% else %}{{ referral.referral_receiver_id.user_profile_img.url }}{% endif %}"
                                        alt="user avatar" class="img-profile rounded-circle mr-4" width="30">
                                    <span class="mr-3 text-truncate">{{ referral.referral_receiver_id.user.first_name }} {{ referral.referral_receiver_id.user.last_name }} - {{ referral.referral_subject }}</span>
                                    <span class="float-right text-truncate{% if referral.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ referral.expected_completion_date }}</span>
                                    <span class="float-right text-truncate mr-3{% if referral.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ referral.percentage }} %</span>
                                {% else %}
                                    <img src="{% if 'placeholder' in referral.referral_sender_id.user_profile_img.url %}{% static 'img/undraw_profile.svg' %}{% else %}{{ referral.referral_sender_id.user_profile_img.url }}{% endif %}"
                                        alt="user avatar" class="img-profile rounded-circle mr-4" width="30">
                                        <span class="mr-3 text-truncate">{{ referral.referral_sender_id.user.first_name }} {{ referral.referral_sender_id.user.last_name }} - {{ referral.referral_subject }}</span>
                                        <span class="float-right text-truncate{% if referral.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ referral.expected_completion_date }}</span>
                                        <span class="float-right text-truncate mr-3{% if referral.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ referral.percentage }} %</span>
                                {% endif %}
                            </button>
                            <a class="btn d-inline text-info col-1" href="{% url 'referrals_archive' slug=referral.slug %}" aria-label="Unarchive"><i class="fa-solid fa-people-arrows">Un-Archive</i></a>
                        </h2>
                    </div>
                    <div id="collapse{{ referral.slug }}" class="collapse{% if forloop.first %} show{% endif %}"
                        aria-labelledby="heading{{ referral.slug }}" data-parent="#accordion">
                        <div class="card-body">
                            <a href="{% if referral.is_cancelled is False %}{% url 'referrals_update' slug=referral.slug %}{% endif %}" aria-label="View&Edit" class="text-decoration-none">
                                <div class="col-xl">
                                    <div class="row w-100">
                                        <h5>{{ referral.referral_subject }} - {{ referral.introduced_person_name }} {{ referral.introduced_person_company }}</h5>
                                    </div>
                                    <div class="row w-100">
                                        <h5 class="text-truncate">{{ referral.introduced_person_email }} - {{ referral.introduced_person_phonenumber }} {{ referral.introduced_person_alternative_phonenumber }}</h5>
                                    </div>
                                    <div class="row mt-4">
                                        <p>{{ referral.referral_description }}</p>
                                    </div>
                                    <div class="row w-100">
                                        <h5 class="text-truncate text-gray-600">£{{ referral.proposed_amount }} at {{ referral.percentage }} % estimated to raise a £{{ referral.estimated_commsion }} commission</h5>
                                    </div>
                                    {% if referral.is_cancelled is False %}
                                    <div class="row mt-4">
                                        <p class="{% if referral.is_agreed or referral.is_completed %}text-success{% else %}text-gray-600{% endif %}">
                                            Expected completion date: {{ referral.expected_completion_date }} - 
                                            Contract agreed: 
                                            {% if referral.is_agreed and not referral.is_completed %}
                                                <i class="fa-solid fa-thumbs-up"> Contract Agreed</i>
                                            {% elif referral.is_completed %}
                                                <i class="fa-solid fa-handshake-angle">Contract Complete</i>
                                            {% else %}
                                                Contract not yet agreed
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="row float-right">
                                        <div class="btn btn-block btn-outline-primary radius-15 m-4 float-right">View & Edit</div>
                                    </div>
                                    {% else %}
                                    <div class="row mt-4">
                                        <p class="text-danger"><i class="fa-solid fa-ban"> This contract has been cancelled: </i></p>
                                        <p class="text-gray-600">{{ referral.cancellation_reason }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h3>It doesn't look like you have any referrals archived....</h3>
            <p>Keep you main referrals List clear and up to date...</p>
            <p>archive your old and outdated referrals</p>
            <!-- Add button to search network or quick add -->
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
