{% extends "base.html" %} {% block content %} {% load static %}

<div class="container-fluid px-4 mt-4">
    <div class="card-group">
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="Create a meeting" href="{% url 'create_booking' %}">Create a meeting</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-outline-primary" aria-label="My Meetings" href="{% url 'booking_list' %}">My Meetings</a>
        </div>
        <div class="card m-3">
            <a class="btn btn-primary" aria-label="Archived meetings" href="{% url 'archive_booking_list' %}">Archived Meetings</a>
        </div>
    </div>
  <div class="row">
    <div class="col-xl">
      <!-- Booking List accordian card-->
      <div class="card mb-4 negative-margin-sides xl-m-8">
        <div class="card-header col">
            <div class="row mt-2">
                <h1 class="col-sm text-center text-primary"> Archived </h1>
            </div>
        </div>
        <div class="card-body negative-margin-sides">
            {% if user.userprofile.username == booking_list.sender.username or booking_list.receiver.username %}
            <!-- add buttons to search network or quick book meeting -->
            <div class="accordion" id="accordion">
                {% for booking in booking_list %}
                <div class="card text-decoration-none mb-4">
                    <div class="card-header text-decoration-none{% if booking.is_accepted == True %} bg-light-green{% elif booking.is_cancelled == True %} bg-light-red{% endif %}" 
                    id="heading{{ booking.slug }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link d-inline btn-block text-left text-decoration-none col-9" type="button"
                                data-toggle="collapse" data-target="#collapse{{ booking.slug }}" aria-expanded="true"
                                aria-controls="collapse{{ booking.slug }}">
                                {% if user.userprofile == booking.sender %}
                                    <img src="{% if 'placeholder' in booking.receiver.user_profile_img.url %}{% static 'img/undraw_profile.svg' %}{% else %}{{ booking.receiver.user_profile_img.url }}{% endif %}"
                                        alt="user avatar" class="img-profile rounded-circle mr-4" width="30">
                                    <span class="mr-3 text-truncate">{{ booking.receiver.user.first_name }} {{ booking.receiver.user.last_name }} - {{ booking.meeting_subject }}</span>
                                    <span class="float-right text-truncate{% if booking.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ booking.meeting_date }}</span>
                                    <span class="float-right text-truncate mr-3{% if booking.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ booking.meeting_time }}</span>
                                {% else %}
                                    <img src="{% if 'placeholder' in booking.sender.user_profile_img.url %}{% static 'img/undraw_profile.svg' %}{% else %}{{ booking.sender.user_profile_img.url }}{% endif %}"
                                        alt="user avatar" class="img-profile rounded-circle mr-4" width="30">
                                    <span class="mr-3 text-truncate">{{ booking.sender.user.first_name }} {{ booking.sender.user.last_name }} - {{ booking.meeting_subject }}</span>
                                    <span class="float-right text-truncate{% if booking.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ booking.meeting_date }}</span>
                                    <span class="float-right text-truncate mr-3{% if booking.is_cancelled == True %} text-decoration-line-through{% endif %}">{{ booking.meeting_time }}</span>
                                {% endif %}
                            </button>
                            <a class="btn d-inline text-info col-1" href="{% url 'archive_booking' slug=booking.slug %}" aria-label="Unarchive"><i class="fa-solid fa-people-arrows">Un-Archive</i></a>
                        </h2>
                    </div>
                    <div id="collapse{{ booking.slug }}" class="collapse{% if forloop.first %} show{% endif %}"
                        aria-labelledby="heading{{ booking.slug }}" data-parent="#accordion">
                        <div class="card-body">
                            <a href="{% if booking.is_cancelled is False %}{% url 'update_booking' slug=booking.slug %}{% endif %}" aria-labelledby="View&Edit" class="text-decoration-none">
                                <div class="col-xl">
                                    <div class="row w-100">
                                        <h5>{{ booking.meeting_subject }} - {{ booking.meeting_date }} {{ booking.meeting_time }}</h5>
                                    </div>
                                    <div class="row mt-4">
                                        <p>{{ booking.meeting_description }}</p>
                                    </div>
                                    <div class="row mt-4">
                                        <p class="text-gray-600">Venue: {{ booking.meeting_location }} - Duration: {{ booking.get_meeting_duration_display }}</p>
                                    </div>
                                </div>
                                {% if booking.is_cancelled is False %}
                                <div class="row float-right">
                                    <div class="btn btn-block btn-outline-primary radius-15 m-4 float-right" aria-label="View&Edit">View & Edit</div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h3>It doesn't look like you have any meetings planned....</h3>
            <p>Reach out to your network and plan a meeting</p>
            <!-- Add button to search network or quick book -->
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
