<!DOCTYPE html>
<!-- will this work better -->
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Business to business networking site, earn commsions and increase business revenue" />
    <meta name="author" content="Bowles Development" />

    

    <title>B2B Networking -</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- sb-admin-2 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.min.css"
      integrity="sha512-Mk4n0eeNdGiUHlWvZRybiowkcu+Fo2t4XwsJyyDghASMeFGH6yUXcdDI3CKq12an5J8fq4EFzRVRdbjerO3RmQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Custom fonts for this template-->
    <script
      src="https://kit.fontawesome.com/ce872f0001.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top sidebar-toggled">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'referrals_analysis' %}"
          aria-label="Go to Referrals Analysis"
        >
          <div class="sidebar-brand-icon">
            <img
              id="b2b-logo"
              src="{% static 'img/b2b-logo-modified.png' %}"
              alt="b2b logo"
            />
          </div>
          <div class="sidebar-brand-text mx-3">Preston</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Home -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}" aria-label="Blog Home">
            <i class="fa-solid fa-house fa-xl"></i>
            <span>Blog Home</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - Profile View -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-label="My profile"
            href="{% url 'userprofile_detail' slug=user.userprofile.slug %}"
          >
            <i class="fa-solid fa-user fa-xl"></i>
            <span>My Profile</span>
          </a>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'conversation_list' %}" aria-label="messages">
            <div>
              <i class="fas fa-envelope fa-fw fa-xl"></i>
              <!-- Counter - Messages -->
              {% if total_messages_unread > 0 %}
              <span class="badge badge-danger">{{ total_messages_unread }}</span>
              {% endif %}
              <span>Messages</span>
            </div>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - My Network -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_list' %}" aria-label="view network">
            <div>
              <i class="fa-solid fa-circle-nodes fa-xl"></i>
              <span>View Network</span>
            </div>
          </a>
        </li>

        <!-- Nav Item - 1-to-1 Meetings -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'booking_list' %}" aria-label="1-to-1 meetings">
            <div>
              <i class="fa-solid fa-people-arrows fa-xl"></i>
              <span>1-to-1 Meetings</span>
            </div>
          </a>
        </li>

        <!-- Nav Item - 1-to-1 Referrals -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'referrals_analysis' %}" aria-label="Paid Referrals">
            <div>
              <i class="fa-solid fa-arrows-down-to-people fa-xl"></i>
              <span>Paid Referrals</span>
            </div>
          </a>
        </li>

        <!-- Account logout -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout">
            <i class="fa-solid fa-right-from-bracket fa-xl"></i>
            <span>Logout</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle" aria-label="Toggle sidebar in or out"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav aria-labelledby="top nav bar"
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              aria-label="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-labelledby="userdropdown"
                >
                  <span class="mr-2 d-none d-lg-inline text-secondary"
                    >{{ user.first_name }} {{ user.last_name }}</span
                  >
                  {% if 'placeholder' in user.user_profile_img.url %}
                  <img
                    src="{% static 'img/undraw_profile.svg' %}"
                    alt="user avatar placeholder"
                    class="img-profile rounded-circle"
                    width="150"
                  />
                  {% else %}
                  <img
                    src="{{ user.userprofile.user_profile_img.url }}"
                    alt="user avatar"
                    class="img-profile rounded-circle"
                    width="150"
                  />
                  {% endif %}
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-label="userDropdown"
                >
                  <a
                    class="dropdown-item"
                    aria-label="My Profile"
                    href="{% url 'userprofile_detail' slug=user.userprofile.slug %}"
                  >
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" aria-label="logout" href="{% url 'account_logout' %}">
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            {% if messages %}
            <ul class="messages alert alert-success" id="msg-post-success">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white  d-none d-md-block">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Bowles Development &copy; 2023</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    

    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <!-- message success removal -->
    <script>
        setTimeout(function () {
            let success = document.getElementById("msg-post-success");
            let alert = new bootstrap.Alert(success);
            alert.close();
        }, 3000);
    </script>

  </body>
</html>
